table, th, td {
    border: 2px solid;
  }

th{
    background-color: rgb(33, 223, 33);
  }

  td{
    text-align: center;
    cursor: default;
  }

  table{
    width: 100%;
    height: 200px;
    border-collapse: collapse;
  }

  td:hover {
    background-color: rgb(12, 204, 53);
}

a:hover{
    background-color: rgb(12, 204, 53);
    cursor: pointer;
}

a:active{
    background-color: rgb(33, 223, 33);
    cursor: progress;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

h1{
    text-align: center;
}

img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

