<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Táblázatos oldal</title>
</head>
<body>
    <table style="width:100%">
        <tr>
          <th>Név</th>
          <th>Típus</th>
          <th>Jellezmző</th>
        </tr>
        <tr>
          <td>Monstera</td>
          <td>Szobanövény</td>
          <td>Nagyméretű levelek</td>
        </tr>
        <tr>
          <td>Bambusz</td>
          <td>Dísznövény</td>
          <td>Gyors növekedés</td>
        </tr>
        <tr>
          <td>Kaktusz</td>
          <td>Pozsgás</td>
          <td>Szárazságtűrő</td>
        </tr>
      </table>
    
</body>
</html>